.alert {
    position: fixed;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 0.25rem;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px auto;
    width: 400px;
    z-index: 9999999999999;
    text-align: center;
    h6{
        margin-bottom: 0px
    }
    &.bg-msg{
        position: relative;
        width: initial;
        text-align: left;
        p{
            display: inline;
            vertical-align: middle
        }
        i{
            padding: 0 6px;
            vertical-align: middle
        }
    }
}