


 // Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    h1{font-size: .8rem}
    h2{font-size: 1rem}
    .cards{
        .card{
          display: block;
          text-align: center;
          align-items: initial;
          flex-direction: initial;
          .card-img{
              margin: 10px auto
          }
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    
 }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 
    
 }