.teams-container {
  .team-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    
    margin: 20px 0;

    text-align: center;
    .team-img {
      background: #fff;
      height: 120px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
      i {
        font-size: 40px;
        color:gray
      }
    }
    p {
      background: #f7f6f7;
      text-align: center;
      padding: 10px;
      min-height: 66px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0
    }
  }
}
